.dragAndDropContainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 15px;
    border: 3px dashed #ccc;
    color: #777;
}

.exampleTable {
    border-collapse: collapse;
    border: double;
}

.exampleTable th {
    font-size: 13px;
    padding: 0 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.exampleTable td {
    font-size: 11px;
    padding: 0 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.pasteTextArea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.pasteTextArea textarea {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.formContianer {
    height: 500px;
    overflow-y: auto;
}